.background-menu
{
    -fx-background-color: #1B2830;
}
.field
{
    -fx-pref-width: 250px;
    -fx-pref-height: 35px;
}
.login-button
{
    -fx-background-color: #61C17E;
    -fx-pref-width: 250px;
    -fx-pref-height: 35px;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.register-button
{
    -fx-cursor: hand;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.check-box .box
{
    -fx-background-color:white;
}




