.pane1{
    -fx-background-color:#444;
}
.button1 {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.button1:hover {
    -fx-background-color: orange; /* Màu cam */
    -fx-text-fill: white; /* Đảm bảo màu chữ vẫn là trắng */
}
.redButton {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.redButton:hover {
    -fx-background-color: darkred;  /* Màu nền khi hover */
    -fx-cursor: hand;               /* Đổi con trỏ khi hover */
}

.main-content
{
    -fx-background-color: #a01616;

}
.movie-content
{
    -fx-background-color: white;
}
.showfilm-content
{
    -fx-background-color: white;
}
.schedule-content
{
    -fx-background-color: #a01616;
}
.buy-content
{
    -fx-background-color: #00AA00;
}
.intro-content
{
    -fx-background-color: #663300;
}
.confirm-info
{
    -fx-background-color: #FFCC33;
}
.text-field-info {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #4A90E2;
    -fx-border-radius: 8;
    -fx-border-width: 1.5;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #333333;
}

.text-field-info:focused {
    -fx-border-color: #2C6DD9;
    -fx-effect: dropshadow(gaussian, #2C6DD9, 5, 0, 0, 0);
}
.userAccount
{
    -fx-cursor:hand;
}
#scheduleForm {
    display: block; /* Đảm bảo phần tử hiển thị */
}
#scheduleForm {
    -fx-z-index: 10; /* Đảm bảo phần tử này hiển thị trên các phần tử khác */
}
.titleLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #003366;
}

.back-button {
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-effect: none;
    -fx-cursor: hand;
}
.pay-button {
    -fx-background-color: white;
        -fx-text-fill: red;
        -fx-font-size: 16px;
        -fx-padding: 10px 20px;
        -fx-background-radius: 8px;
        -fx-border-radius: 8px;
        -fx-border-color: red;
        -fx-border-width: 2px;
        -fx-effect: none;
        -fx-cursor: hand;
}

.pay-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.5), 10, 0, 0, 0);
}

.back-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.5), 10, 0, 0, 0);
}

