.left-menu
{
    -fx-background-color:#1B2830;
}
.field-register
{
    -fx-pref-width: 250px;
    -fx-pref-height: 35px;
}
.register-button
{
    -fx-background-color:#61C17E;
    -fx-pref-width: 250px;
    -fx-pref-height: 35px;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.back-login-button
{
    -fx-cursor: hand;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.combo-sex
{
    -fx-background-color:white;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 2px;

}
.show-register .box
{
    -fx-background-color:white;
}
.date-register
{
    -fx-text-fill:black;
    -fx-pref-height: 35px;
    -fx-border-color: #DDDDDD;
}


