.pane1{
    -fx-background-color:#444;
}
.button1 {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.button1:hover {
    -fx-background-color: orange; /* Màu cam */
    -fx-text-fill: white; /* Đảm bảo màu chữ vẫn là trắng */
}
.redButton {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.redButton:hover {
    -fx-background-color: darkred;  /* Màu nền khi hover */
    -fx-cursor: hand;               /* Đổi con trỏ khi hover */
}

.main-content
{
    -fx-background-color: white;
}
.movie-content
{
    -fx-background-color: white;
}
.schedule-content
{
    -fx-background-color: #336666;
}
.buy-content
{
    -fx-background-color: #00AA00;
}
.intro-content
{
    -fx-background-color: #663300;
}
